/* ================================ CSS VARIABLES ================================ */

:root {
    --header-height: ;

    /* ======== COLORS ========= */
    /* Change Favorite Color */
    --hue-color: 220;
    /* Purple 250 - Green 142 - Blue 230 - Pink 340 */

    /* HSL color mode */
    --primary-color: hsl(var(--hue-color), 83%, 48%);
    --primary-color-alt: hsl(var(--hue-color), 83%, 40%);
    --primary-color-variant: hsl(var(--hue-color), 93%, 32%);
    --primary-color-lighter: hsl(212, 100%, 56%);
    --text-color: hsl(var(--hue-color), 0%, 0%);
    --text-white: hsl(var(--hue-color), 0%, 100%);
    --text-grey: hsl(var(--hue-color), 0%, 31%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --white-bg: hsl(var(--hue-color), 0%, 100%);
    --dark-grey-bg: hsl(var(--hue-color), 0%, 79%);
    --grey-bg: hsl(var(--hue-color), 9%, 93%);
    --color-red: #DA2828;
    --color-green: #3ab315;
    --scroll-thumb-color: hsl(var(--hue-color), 0%, 80%);

    /* ======== FONT and Typography ========= */
    --body-font: 'Montserrat', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px, ...*/
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.9rem;
    --smaller-font-size: 0.8rem;

    /* ======== FONT WEIGHT ========= */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* ======== MARGEM BOTTOM ========= */
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* ======== Z Index ========= */
    --z-under: -10;
    --z-above: 10;

    /* ======== Transition ========= */
    --transition: all .3s ease;
}

/* ============= SCROLL BAR ================  */
::-webkit-scrollbar {
    width: .40rem;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-grey-bg);

}

/* ============== ELEMENTS STYLES ================  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    font-weight: var(--font-medium);

}

body {
    font-size: var(--normal-font-size);
    background-color: var(--white-bg);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;

}

/* ============== LAYOUT ================  */

.body-blue {
    background-color: var(--primary-color);
}

.section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1500px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

/* ============= BUTTONS ================  */
.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--text-white);
    padding: 1rem 1.8rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: var(--transition);
}

.btn:hover {
    background-color: var(--primary-color-alt);
    cursor: pointer;
}

/* ============== HERO SECTION ================  */

.hero-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color-lighter);
}

.content-container {
    position: absolute;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 7%;
    z-index: var(--z-above);
}

.hero-section-title {
    font-size: 5rem;
    margin: 15% 0 5%;
}

.hero-section-subtitle {
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

.hero-buttons {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.hero-buttons>span {
    font-size: 2rem;
    font-weight: var(--font-bold);
}

.chat-btn {
    padding: 4% 7%;
    border-radius: .8rem;
    font-size: 1.8rem;
}

.register-btn {
    height: 100%;
    padding: 4% 9%;
    border-radius: .8rem;
    font-size: 1.6rem;
    background-color: var(--primary-color-variant);
}

.img-container {
    width: 65%;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    padding-right: 1rem;
}

.hero-img {
    width: 100%;
}

/* ============== FORM SECTIONS ================  */

.signup-section,
.signin-section {
    background-color: var(--primary-color);
}

.signup-container,
.signin-container {
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color-variant);
    padding: 2rem;
}

.container-content {
    background-color: var(--white-bg);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-title {
    margin: 2rem 0;
    font-size: var(--h1-font-size);
}

.content-form {
    align-self: flex-start;
    width: 100%;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 2rem;
    margin-bottom: 3rem;
}

.content-form .input {
    width: 100%;
    padding: 1rem 1.2rem;
    background: var(--grey-bg);
    border-radius: .5rem;
    resize: none;
    outline: 0;
    border: 0;
    font-size: 1rem;
    font-weight: var(--font-semi-bold);

}

.content-form .input::placeholder {
    color: var(--text-grey);
    opacity: .7;
    font-weight: var(--font-bold);
    font-size: 1rem;

}

#birth-date-hidden {
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -50;
    width: 10px;
    height: 10px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#location {
    grid-column: 1/3;
}

#bio-input {
    grid-column: 1/3;
    height: 120px;
}

.birthdate-input,
.avatar-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;

}

.birthdate-input {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.birthdate-label {
    font-weight: var(--font-bold);
}

#birth-date {
    margin-top: .7rem;
    border: none;
    outline: none;
    height: 40px;
    width: fit-content;
    background-color: var(--primary-color);
    justify-self: flex-end;
    font-family: 'Roboto Mono', monospace;
    padding: 0.6rem 1rem;
    color: var(--text-white);
    font-size: var(--smaller-font-size);
    border-radius: .2rem;
}

::-webkit-calendar-picker-indicator {
    background-color: var(--text-white);
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.avatar-input {
    width: 100%;
}

.useravatar-label {
    font-weight: var(--font-semi-bold);
    font-size: var(--smaller-font-size);
    border-radius: .5rem;
    color: #fff;
    padding: .6rem 1rem;
    width: fit-content;
}

.file-name {
    line-height: 30px;
    height: 30px;
    border: 1px solid #A7A7A7;
    padding: .4rem;
    vertical-align: middle;
    border-radius: .2rem;
    font-weight: var(--font-semi-bold);
    color: rgba(0, 0, 0, 0.8);
    font-size: var(--smaller-font-size);
    outline: none;
}

input[type=file] {
    display: none;
}

.content-btn {
    padding: 1.5rem 4rem;
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
    border: 0;
    transition: background-color 1s;
}

.content-btn-loading {
    color: rgba(0, 0, 0, 0.0);
    background-color: #525252;
}

.form-footer {
    position: relative;
}

.form-loading {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: none;
    transition: opacity 1s ease;
}

.form-loading-show {
    opacity: 1;
    display: inline-block;
}

.container-content>span {
    margin: 1rem 0 2rem;
    font-weight: var(--font-bold);
}

.container-content>span>a {
    color: var(--primary-color);
}

.container-content>span>a:hover {
    text-decoration: underline;
}

/* Sign In Form */

.signin-container {
    height: 750px;
}

.signin-content {
    justify-content: center;
}

.signin-title {
    margin: 4rem 0;
}

.signin-content .signin-form {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.signin-form .input {
    width: 60%;
}

.signin-content>span {
    margin: 2rem 0;
}

/* ============== CHAT PAGE ================  */

.global-loading {
    position: absolute;
    right: 1%;
    top: 1%;
    z-index: 10;
    width: 25px;
    transition: var(--transition);
    visibility: hidden;
}

.global-loading-show {
    visibility: visible;
}

/* ALERT POPUP */
.popup {
    position: fixed;
    width: 400px;
    background: var(--primary-color);
    border-radius: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    z-index: 100;
    visibility: hidden;
    transition: transform 0.4s;
}


.open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    margin: 15px 0 10px;
    color: var(--text-white);
}

.popup p {
    color: var(--text-white);
}


.confirmation-btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.confirmation-btn button {
    width: 45%;
    padding: 10px 0;
    border: 0;
    outline: none;
    background-color: var(--primary-color-variant);
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}

.confirmation-btn button:hover {
    opacity: 0.9;
}

.confirmation-btn button:active {
    opacity: 1;
}

.overflow-hidden {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.blue-range {
    width: 100vw;
    height: 10vh;
    background-color: var(--primary-color);
    z-index: var(--z-under);
    position: absolute;
}

.chat-section {
    overflow: hidden;
}

.chat-container {
    position: relative;
    /*  */
    display: flex;
    flex-direction: row;
    max-width: 1800px;
    height: 90vh;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.6);
}

.chats-list {
    position: relative;
    min-width: 300px;
    width: 25vw;
    max-width: 325px;
    background-color: var(--grey-bg);
    overflow-y: auto;
}

.user-content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
}

.login-box>a i {
    font-size: 2.5rem;
    color: var(--primary-color);
    transition: var(--transition);
}

.login-box>a i:hover {
    color: var(--primary-color-variant);
}

.login-box>h4 {
    font-size: var(--small-font-size);
}

.login-box>h4 a {
    color: var(--primary-color);
    transition: var(--transition);
}

.login-box>h4 a:hover {
    color: var(--primary-color-variant);
    text-decoration: underline;
}

.open-user-profile {
    cursor: pointer;
}

.user-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem 0rem;
    width: 100%;

}



.user-img-box {
    max-width: 4rem;
    max-height: 4rem;
    border-radius: 5rem;
    overflow: hidden;
    min-width: 4rem;
}

.img-circle {
    width: 100%;
    height: 100%;
}

.user-content-box {
    width: 100%;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
}

.user-name {
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    width: fit-content;
}

.user-biography {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    width: fit-content;
}

.user-biography:hover,
.user-name:hover,
.user-img-box:hover {
    cursor: pointer;
}

.logout {
    color: var(--color-red);
    width: fit-content;
}

.logout:hover {
    cursor: pointer;
}

.logout>i {
    font-size: 1.2rem;
}

.search-chats {
    width: 100%;
    background-color: var(--white-bg);
    border-radius: 1rem;
    padding: 0.4rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    position: relative;
}

.chat-not-found {
    height: 50px;
    justify-content: center;
    align-items: center;
}

.chat-not-found:hover {
    cursor: initial;
}

.search-loading {
    position: absolute;
    right: 1%;
    top: 1%;
    opacity: 0;
    width: 20px;
    display: inline-block;
    transition: var(--transition);
}

.search-loading-show {
    opacity: 1;
}

.search-result-box {
    position: absolute;
    top: 38px;
    left: 10px;
    width: 100%;
    padding-right: 1.2rem;
    opacity: 0;
    display: inline-block;
    visibility: hidden;
    transition: opacity .3s ease, visibility.1s ease;
}

.search-result-box-show {
    opacity: 1;
    visibility: visible;
}

.search-chats-hr {
    bottom: 0;
    border-bottom: 1px solid rgba(150, 150, 150, 1) !important;
}

.search-chat {
    background-color: var(--dark-grey-bg);
    transition: var(--transition);
}

.search-chat:active {
    background-color: rgba(150, 150, 150, 1) !important;
}

.search-input {
    background-color: transparent;
    width: 100%;
    border: 0;
    outline: 0;
}

.search-icon {
    font-size: 1.2rem;
}

.hr {
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--dark-grey-bg);
}

.chats {
    padding: .6rem 1.2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    opacity: 0;
    transition: var(--transition);
}

.chats-show {
    opacity: 1;
}

.chats:last-child .chats-info>hr {
    display: none;
}

.chats:active {
    background-color: var(--dark-grey-bg);
}

.chats-img-box {
    max-width: 2.5rem;
    max-height: 2.5rem;
    border-radius: 5rem;
    overflow: hidden;
    min-width: 2.5rem;
}

.chats-info {
    width: 100%;
}

.chats-name-box {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.chat-content {
    width: 70vw;
    min-width: 800px;
    max-width: 1200px;
    background-color: white;
    position: relative;
    height: 100%;
}


.chat-content-box {
    transform: scale(1);
    transition: transform .3s ease,
        display .4s ease;
    transform: scale(0);
    display: none !important;
}

.chat-content-box-show {
    transform: scale(1);
    display: flex !important;
}

.blank-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    transform: scale(1);
    transition: transform .3s ease, display .4s ease;
}

.blank-content-hide {
    transform: scale(0);
    display: none;
}

.chat-blank-img {
    width: 20rem;
}

.chat-blank-title {
    font-size: 2rem;
    text-align: center;
}

.chat-blank-paragraph {
    font-size: 1.2rem;
}

.chat-header {
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: var(--grey-bg);
    display: flex;
    gap: 1rem;
    align-items: center;
    z-index: 3;
}

.chat-header:hover {
    cursor: pointer;
}

.chat-header-show-profile {
    background-color: var(--dark-grey-bg);
}

.vr {
    height: 100%;
    border-left: 2px solid var(--white-bg);
}

.back-box {
    width: 2.5rem;
    height: 2.5rem;
    display: none;
    justify-content: center;
    align-items: center;
}

.back-box:hover {
    cursor: pointer;
}

.back-box:active {
    border-radius: 5rem;
    background-color: var(--dark-grey-bg);
}

.back {
    font-size: 2.5rem;
}


.header-content {
    display: flex;
    gap: 1rem;
}

.chat-img-box {
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 5rem;
    overflow: hidden;
    min-width: 3rem;
}

.chat-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-name {
    font-weight: var(--font-semi-bold);
}

.chat-activity {
    font-weight: var(--font-medium);
}


.chat-messages-box {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 6rem 0;
    flex-direction: column;
}

.chat-messages {
    padding: 0 2rem;
    z-index: 60;
}

.chat-message {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
    position: relative;
}

.chat-our-message {
    justify-content: flex-end;
}

.chat-our-message>.message {
    background-color: var(--primary-color);
    color: white;
    order: 0;
    border-radius: 3rem 0rem 3rem 3rem;
}

.chat-our-message>.message-img-box {
    order: 1;
}

.message-img-box {
    max-width: 2.5rem;
    max-height: 2.5rem;
    position: relative;
    z-index: 60;
    border-radius: 5rem;
    overflow: hidden;
    min-width: 2rem;
}

.message {
    margin-top: .5rem;
    background-color: var(--grey-bg);
    max-width: 70%;
    min-height: 2.5rem;
    border-radius: 0rem 3rem 3rem 3rem;
    padding: 0.6rem 1.4rem 0.6rem 1.4rem;
    line-height: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    z-index: 30;

}

.message:last-child {
    margin-bottom: .5rem;
}

.message>iframe {
    margin: .2rem;
    width: 560px;
    height: 315px;
    border-radius: 1rem;
}

.message>img {
    padding: .2rem;
    max-width: 560px;
    max-height: 315px;
    border-radius: 1rem;
    object-fit: cover;
}

.message>video {
    padding: .2rem;
    max-width: 560px;
    max-height: 315px;
    border-radius: 1rem;
    object-fit: cover;
}

.mini-profile {
    padding: 1rem .5rem;
    position: fixed;
    background-color: var(--dark-grey-bg);
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: opacity .3s ease;
    z-index: 60;
    opacity: 0;
    border-radius: .3rem;
    width: 250px;
    visibility: hidden;
}

.mini-profile-show {
    opacity: .9;
    visibility: visible;
}

.mini-profile-img {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    overflow: hidden;
    min-width: 6rem;
}

.mini-profile-img>img {
    border-radius: 50%;
}

.mini-profile-info {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    width: fit-content;
}

.mini-profile-name {
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
}

.mini-profile-biography {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
}

.mini-profile-activity {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
}

.chat-footer {
    width: 100%;
    height: 80px;
    background-color: var(--grey-bg);
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-right: 1rem;
}

.file-send-content {
    position: absolute;

    right: 0;
    display: flex;
    width: calc(100% - 2px);
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-grey-bg);
    padding: 0 .5rem;
    visibility: hidden;
    top: 0px;
    z-index: -10;
    transition: .3s ease top,
        .1s ease visibility;
}

.file-send-content-show {
    z-index: 50;
    top: -40px;
    visibility: visible;
}

.file-alert {
    font-size: 12px;
}

.file-send-box {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}



#file-input {
    font-size: 12px;
}

.file-input {
    padding: .1rem;
}

#file-input {
    display: inline-block;
}

.input-submit {
    padding: .3rem;
    border: 0;
    outline: 0;
    color: var(--text-white);
    background-color: var(--primary-color);
    border-radius: .5rem;
}

.input-submit:hover {
    background-color: var(--primary-color-variant);
    cursor: pointer;
}

.close-file {
    color: var(--primary-color);
    font-size: 1.3rem;
}

.close-file:hover {
    cursor: pointer;
    color: var(--primary-color-variant);
}

.file-send-loading {
    width: 20px;
    display: none;
}

.emoji,
.clip {
    font-size: 1.5rem;
}

.emoji:hover,
.clip:hover {
    cursor: pointer;
    color: var(--text-grey);
}

.emoji-content,
.clip-content {
    position: relative;
}


.emoji-box {
    position: absolute;
    top: -150px;
    left: -10px;
    display: inline-block;
    transition: .3s ease top, .1s ease visibility;
    visibility: hidden;
    z-index: 100;
}

.emoji-box-show {
    visibility: visible;
    top: -220px;
}

#emoji-list {
    width: 280px;
    height: 200px;
    background-color: hsl(var(--hue-color), 9%, 88%);
    display: grid;
    font-style: normal;
    overflow-y: auto;
    grid-template-columns: repeat(8, 1fr);
    font-size: var(--h3-font-size);
    /* display: none; */
    justify-items: center;

}

#emoji-list li {
    padding: .2rem;
}

#emoji-list li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* .emoji:hover>ul {
    display: grid;
} */

.emoji-box>img {
    position: relative;
    width: 25px;
    left: 10px;
    top: -1px;
}



.clip-box {
    z-index: 100;
    position: absolute;
    top: -50px;
    left: -10px;
    display: inline-block;
    transition: .3s ease top,
        .1s ease visibility;
    visibility: hidden;
}

.clip-box-show {
    visibility: visible;
    top: -120px;
}

#clip-list {
    width: 50px;
    background-color: hsl(var(--hue-color), 9%, 88%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* display: none; */
    align-items: center;
    border-radius: .5rem;
}

#clip-list>li {
    padding: .2rem;

}

#clip-list li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.message-field {
    width: 100%;
    height: 3rem;
    background-color: var(--white-bg);
    border-radius: 3rem;
    padding: 1rem;
    outline: none;
    border: none;
}

.send-box {
    width: 3rem;
    height: 3rem;
}

.send-box>div {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-message-loading {
    opacity: 0;
    width: 24px;
    height: 24px;
    display: none;
    transition: opacity .3s ease, display .1s ease;
}

.send-message-loading-show {
    opacity: 1;
    display: inline-block;
}

.send-box:hover {
    cursor: pointer;
}

.send {
    font-size: 1.5rem;
    color: var(--text-white);
    opacity: 1;
    transition: opacity .1s ease, display .1s ease;
    display: inline-block;
}

.send-hide {
    opacity: 0;
    display: none;
}

.profile {
    overflow: auto;
    width: 20vw;
    min-width: 350px;
    max-width: 500px;
    position: absolute;
    top: 0;
    flex-direction: column;
    height: 100%;
    padding: 2rem 0 1rem;
    background-color: var(--grey-bg);
    display: flex;
    transition: var(--transition);
    right: -1200px;
}

.back-box-profile {
    position: absolute;
    left: 1%;
}

.profile-loading {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 1%;
    transition: var(--transition);
    opacity: 0;
}

.profile-loading-show {
    opacity: 1;
}

.profile-active {
    z-index: 20;
    right: 0;
}

.profile-img-box {
    max-width: 12rem;
    max-height: 12rem;
    min-width: 12rem;
    position: relative;
    align-self: center;
}

#upload-avatar {
    display: none;
}

#profile-img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
}

.img {
    position: absolute;
    left: 70%;
    top: 70%;
    width: 50px;
    height: 50px;
    color: var(--primary-color);
}

.img:hover {
    cursor: pointer;
}

.update-img {
    display: none;
    flex-direction: column;
}

.avatar-alert {
    font-size: var(--smaller-font-size);
    margin: 1rem 0 0;
    padding: 0 2rem;
    overflow: hidden;

}

#avatar-name {
    font-weight: var(--font-bold);
    font-size: var(--smaller-font-size);
}

.update-avatar-btns {
    align-self: flex-end;
    padding-right: 1rem;
}

.progress-bar {
    width: 90%;
    margin: .5rem 0;
    align-self: center;
    background-color: var(--primary-color-variant);
    border-radius: 5rem;
    height: 5px;
    opacity: 0;
    transition: opacity .3s ease;
}

.progress-bar-active {
    opacity: 1;
}

.progress {
    height: 100%;
    width: 0%;
    background-color: var(--primary-color-lighter);
    transition: width 1s ease;
    border-radius: 5rem;
}

.last-activity {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    text-align: center;
    margin: 1rem;
}

.profile-infos-box {
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
}


.profile-infos-box hr:last-child {
    display: none;
}

.profile-infos-box {
    display: flex;
}

.profile-infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.profile-hide {
    display: none;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 90%;
}

.profile-info-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    overflow-x: hidden;
}

.info-name {
    color: var(--text-grey);
    font-weight: var(--font-semi-bold);
    font-size: var(--smaller-font-size);
}

.info {
    font-weight: var(--font-bold);
    font-size: var(--small-font-size);
}

.inner-input {

    padding: .3rem;
    display: none;
    min-width: 200px;
}

.inner-input-show {
    display: none;
}

.info-hide {
    display: hide;
}

.info-icon {
    font-size: 1.5rem;
}

.update-btns {
    width: fit-content;
    display: flex;
    flex-direction: column;

}

.edit-btn {
    font-size: 1.5rem;
    color: var(--primary-color);
    transition: var(--transition);
    display: none;
}

.edit-btn:hover {
    cursor: pointer;
    color: var(--primary-color-variant);
}

.loading {
    display: none;
    width: 24px;
    height: 24px;
}

.close-btn {
    display: none;
    font-size: 1.5rem;
    color: var(--primary-color);
    transition: var(--transition);
}

.close-btn:hover {
    cursor: pointer;
    color: var(--primary-color-variant);
}

.check-btn {
    display: none;
    font-size: 1.5rem;
    color: var(--primary-color);
    transition: var(--transition);
}

.check-btn:hover {
    cursor: pointer;
    color: var(--primary-color-variant);
}


.profile-hr {
    width: 90%;
    align-self: center;
}

.logout-btn {
    align-self: center;
    padding: 1rem 2rem;
    background-color: red;
    width: fit-content;
    border-radius: .5rem;
    color: white;
    display: flex;
    align-items: center;
    gap: .5rem;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    display: none;
}

.logout-btn:hover {
    cursor: pointer;
}

.logout-btn>i {
    font-size: 1.3rem;
}

/* ADD CHAT */
.add-chat-container {
    margin-top: .5rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 6rem;
    width: 100%;
}

.add-chat-title {
    font-weight: var(--font-bold);
    font-size: var(--h3-font-size);
}

.add-chat-box:hover>i {
    color: var(--primary-color-variant);
    cursor: pointer;
}

.add-chat {
    color: var(--primary-color);
    font-size: 3rem;
}

/* Add Chat PopUp */
.add-chat-screen {
    height: 100%;
    width: 100%;
    z-index: 200;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: background-color 1s ease;
}

.add-chat-screen-show {
    background-color: rgba(0, 0, 0, 0.6);

}

.add-chat-popup {
    position: relative;
    width: 400px;
    background: var(--primary-color);
    border-radius: 6px;
    text-align: center;
    padding: 0 .5rem 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    opacity: 0;
    transition: opacity 1.5s;
}

.add-chat-popup-show {
    opacity: 1;
}

.close-add-chat {
    position: absolute;
    right: 1%;
    top: 1%;
    color: var(--text-white);
    font-size: 2rem;
}

.close-add-chat:hover {
    opacity: .9;
    cursor: pointer;
}

.add-chat-img {
    width: 100px;
    margin-top: -50px;
}

.add-chat-popup-title {
    font-weight: bold;
    font-size: var(--h2-font-size);
}

.add-chat-name,
.add-chat-desc {
    padding: 0.6rem 1rem;
    outline: none;
    border: none;
    border-radius: .5rem;
    width: 90%;
}

.add-chat-desc {
    height: 80px;
    resize: none;
}

.add-chat-name:focus,
.add-chat-desc:focus {
    border: 0;
    outline: 2px solid var(--primary-color-variant);
}

.add-chat-name::placeholder,
.add-chat-desc::placeholder {
    color: var(--text-grey);
    font-weight: var(--font-bold);
}

.add-chat-img-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 1rem;
}

.add-chat-img-btn {
    background-color: var(--primary-color-variant);
    border-radius: .5rem;
    padding: .4rem .6rem;
    font-size: var(--small-font-size);
    color: var(--text-white);
    transition: var(--transition);
}

.add-chat-img-btn:hover {
    opacity: .9;
    cursor: pointer;
}

.add-chat-img-text {
    background-color: var(--white-bg);
    width: 70%;
    border-radius: .5rem;
    padding: .2rem .6rem;
    overflow: hidden;
    height: 30px;
    opacity: .8;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.add-chat-btn {
    background-color: var(--primary-color-variant);
    border: none;
}

.add-chat-btn:hover {
    opacity: .9;
}

.add-chat-loading {
    width: 90%;
    height: 10px;
    background-color: var(--primary-color-variant);
    border-radius: .5rem;
    opacity: 0;
    transition: var(--transition);
}

.add-chat-loading-show {
    opacity: 1;
}

.add-chat-loading>div {
    transition: var(--transition);
    background-color: var(--primary-color-lighter);
}

/* ALERT BAR */

.alert-bar {
    position: fixed;
    left: 0;
    top: -100px;
    z-index: 1000;
    width: 100%;
    min-height: 6rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: black;
    transition: top 1s ease;
}

.alert-show {
    top: 0;
}

.alert-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    color: var(--text-white);
}

.alert-text {
    font-size: var(--normal-font-size);
    color: var(--text-white);
}

.alert-success {
    background-color: var(--color-green);
}

.alert-error {
    background-color: var(--color-red);
}

/* Message Options */
.message-options-container {
    top: -25px;
    z-index: 200;
    display: none;
    position: absolute;
}

.message-options-container-show {
    display: flex;
}

.chat-message>.message-options-container {
    left: -25px;
}

.chat-our-message>.message-options-container {
    right: -25px;
    left: 100%;
}

.message-options-btn-box {
    cursor: pointer;
}

.message-options-btn-box:hover .message-options-btn {
    color: var(--primary-color-variant);
}

.message-options-btn {
    font-size: 2rem;
    color: var(--primary-color);
}

.message-options {
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
    opacity: 0;
    top: 0;
    transition: opacity 1s ease, top 1s ease;
    z-index: 70;
}

.message-options-show {
    opacity: 1;
}

.chat-our-message>.message-options-container>.message-options {
    left: initial;
    right: 1.5rem;
}

.edit-option-btn,
.delete-option-btn {
    width: 150px;
    padding: 1.6rem 0.8rem;
    border: none;
    outline: none;
    transition: var(--transition);
    background-color: transparent;
    color: var(--text-white);
    font-size: var(--smaller-font-size);
    background-color: var(--primary-color);
}

.edit-option-btn:hover,
.delete-option-btn:hover {
    cursor: pointer;
    background-color: var(--primary-color-variant);
}

/* MESSAGE OPTIONS SCREEN */
.message-options-screen,
.delete-screen {
    height: 100%;
    width: 100%;
    z-index: 200;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: background-color 1s ease;
}


.message-options-screen-show,
.delete-screen-show {
    background-color: rgba(0, 0, 0, 0.6);
}

.edit-message-popup,
.delete-message-popup,
.delete-popup {
    position: relative;
    width: 400px;
    background: var(--primary-color);
    border-radius: 6px;
    text-align: center;
    padding: 0 .5rem 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    opacity: 0;
    display: none;
    transition: 1s;
}

.delete-message-popup,
.delete-popup {
    gap: 2rem;
}

.edit-message-popup-show,
.edit-media-message-popup-show,
.delete-message-popup-show,
.delete-popup-show {
    opacity: 1;
}

.close-edit-message,
.delete-edit-message,
.close-delete-popup {
    position: absolute;
    right: 1%;
    top: 1%;
    color: var(--text-white);
    font-size: 2rem;
}

.close-edit-message:hover,
.delete-edit-message:hover,
.close-delete-popup:hover {
    opacity: .9;
    cursor: pointer;
}

.edit-message-img,
.delete-message-img,
.delete-popup-img {
    width: 100px;
    margin-top: -50px;
    border-radius: 5rem;

}

.delete-message-img,
.delete-popup-img {
    border-radius: initial;
}


.edit-message-img {
    box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.6);
}

.edit-message-title,
.delete-message-title,
.delete-popup-title {
    font-weight: bold;
    font-size: var(--h2-font-size);
}

.edit-message-text {
    height: 200px;
    width: 90%;
    resize: none;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: .5rem;
}

.edit-message-text:focus {
    border: 0;
    outline: 2px solid var(--primary-color-variant);
}

.edit-message-text::placeholder {
    color: var(--text-grey);
    font-weight: var(--font-bold);
}

.edit-message-confirmation-btn,
.delete-message-confirmation-btn,
.delete-popup-confirmation-btn {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.edit-message-btn,
.delete-message-btn,
.cancel-delete-message-btn,
.cancel-delete-popup-btn,
.delete-popup-btn {
    background-color: var(--primary-color-variant);
    border: none;
    display: flex;
    padding: 1.5rem 0.2rem;
    align-items: center;
    justify-content: center;
    width: 150px;
    outline: none;
    transition: var(--transition);
    color: var(--text-white);
    font-size: var(--small-font-size);
}

.edit-message-btn:hover,
.delete-message-btn:hover,
.cancel-delete-message-btn:hover,
.cancel-delete-popup-btn:hover,
.delete-popup-btn:hover {
    opacity: .9;
    cursor: pointer;
}

.edit-message-btn-text,
.delete-message-btn-text {
    transition: var(--transition);
    opacity: 1;
}

.edit-message-btn-text-hide,
.delete-message-btn-text-hide {
    opacity: 0;
}

.edit-message-loading,
.delete-message-loading,
.delete-popup-loading {
    width: 25px;
    height: 25px;
    opacity: 0;
    display: none;
    transition: opacity .3s display .1s;
}

.edit-message-loading-show,
.edit-media-message-loading-show,
.delete-message-loading-show,
.delete-popup-loading-show {
    display: inline-block;
    opacity: 1;
}

/* ============================= MEDIA QUERIES ===============================  */
/* Medium Devices */
@media screen and (max-width: 1024px) {

    /* ============== LAYOUT ================  */

    .section {
        height: 100%;

    }

    .container {
        margin: 2rem 0;
    }

    /* ========= HERO SECTION ===========  */
    .hero-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }


    .content-container {
        padding: 1rem;
        width: 100%;
        position: initial;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }



    .hero-section-title {
        margin-top: 5rem;
    }

    .hero-buttons {
        width: 100%;
        justify-content: center;
    }

    .img-container {
        width: 100%;
        position: initial;
        padding: 0 .5rem;
    }


    /* ============== FORM SECTIONS ================  */
    .signup-container,
    .signin-container {
        grid-template-columns: initial;
    }

    .container-img {
        display: none;
    }

    .signin-container {
        width: 70%;
    }

    /* ============== CHAT PAGE ================  */


    .chat-container {
        position: initial;
        width: 99%;
    }

    .chats-list {
        min-width: 220px;
        width: 25%;
    }

    .chat-content {
        min-width: 360px;
        width: 75%;
        max-width: 1000px;
    }

    .profile {
        min-width: 300px;
    }

    .inner-input {
        min-width: 150px;
    }

    .file-send-content {
        flex-direction: column;
        top: -130px;
        height: fit-content;
        padding: .5rem .2rem;
        gap: .5rem;
    }

    .file-send-box {
        gap: 0.3rem;
    }

    .file-alert {
        font-size: 10px;
    }

    #file-input {
        min-width: 100px;
        width: 50%;
    }

    .message {
        max-width: 100%;
    }

    .message>iframe {
        max-width: 400px;
    }

    .message>video {
        max-width: 400px;
    }

    .message>img {
        max-width: 400px;
    }

    .global-loading {
        top: 6%;
    }

    .user-biography {
        font-size: var(--smaller-font-size);
    }
}

/* Small Devices */
@media screen and (max-width: 600px) {

    /* ============== LAYOUT ================  */
    .section {
        height: 100%;

    }

    .container {
        margin: 1rem 0;
    }

    /* ========= HERO SECTION ===========  */
    .content-container {
        justify-content: initial;
        height: 100%;
        padding: .5rem;
    }

    .hero-section-title {
        margin-top: 2rem;
        font-size: 2.5rem;
    }

    .hero-section-subtitle {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .hero-buttons {
        gap: .5rem;
    }

    .chat-btn,
    .register-btn {
        padding: .8rem 1.2rem;
        font-size: 0.9rem;
    }

    .hero-buttons>span {
        font-size: 1.2rem;
    }

    .img-container {
        height: max-content;
        padding: 0;
    }

    /* ============== FORM SECTIONS ================  */
    .content-form {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }

    .signin-section {
        height: 100vh;
    }

    .signin-form .input {
        width: 100%;
    }

    .signin-container {
        width: 90%;
        height: fit-content;
    }

    .signin-content {
        justify-content: flex-start;
    }

    /* ============== CHAT PAGE ================  */
    .blue-range {
        display: none;
    }

    .overflow-hidden {
        width: 100%;
    }

    .back-box {
        display: flex;
    }

    .chat-section {
        width: 100%;

    }

    .chat-container {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .chat-content {
        min-width: 220px;
        overflow: hidden;
        width: 100%;
        max-width: initial;
    }

    .blank-content {
        display: none;
    }

    .chats-list {

        width: 100%;
        max-width: initial;
    }

    .chat-content-show {
        right: 0;
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
    }

    .chat-messages {
        padding: 0 1rem;
    }

    .message>video {
        max-width: 200px;
    }

    .message>img {
        max-width: 200px;
    }

    .message>iframe {
        max-width: 200px;
        height: auto;
        min-width: initial;
        object-fit: contain;
    }

    .popup {
        max-width: 300px;
    }

    .confirmation-btn {
        margin-top: 10px;
    }

    .popup h2 {
        margin-top: 5px;
    }

    .global-loading {
        top: 1%;
    }

    .profile {
        min-width: 260px;
    }


    .inner-input {
        min-width: 120px;
    }

    .profile-active-user {
        position: fixed;
        right: 0px;
        top: 0px;
        z-index: 200;
        overflow-y: scroll;
    }

    .add-chat-popup,
    .edit-message-popup,
    .delete-message-popup {
        width: 300px;
    }

    .message {
        max-width: 90%;
    }
}